.barra-busqueda {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.input-busqueda {
    width: 380px;
    max-width: 90%;
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid #b1b2ff;
    font-size: 1rem;
    transition: 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.input-busqueda:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 4px 14px rgba(108, 99, 255, 0.25);
}
